html {
  font-size: 62.5%; /*this makes all relative units equal 10 px, 1rem = 10px*/
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(50, 147, 185);
  color: white;
  height: 35vh; /* viewport height */
  font-size: 4rem;
  letter-spacing: 1rem;
}

.user-input {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#character-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

.text-box {
  height: 2.5rem;
  width: 20rem;
}

.character-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 10vh;
  font-size: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}

.btn-red {
  background-color: lightcoral;
  color: white;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  font-size: 2rem;
  width: 80vw;
  margin: 1rem auto;
}

.display-character {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  font-size: 2rem;
  width: 100%;
}

.display-image img {
  height: 9rem;
}

.utility-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}